.LoginSignUpContainer{
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(231,231,231);
    position: fixed;
    top: 0%;
    left: 0;
}

.LoginSignUpBox{
    background-color: white;
    width: 25vw;
    height: 70vh;
    box-sizing: border-box;
    overflow: hidden;
}

.login_signUp_toggle>p{
    color: rgba(0,0,0,0.678);
    font: 300 1vmax "Roboto";
    transition: all 0.5s;
    cursor: pointer;
    display: grid;
    place-items: center;
    width: 100%;
}
.login_signUp_toggle{
    display: flex;
    height: 3vmax;
}

.login_signUp_toggle >p:hover{
    color: tomato;
}

.LoginSignUpBox > div >button{
     background-color: tomato;
     height: 3px ;
     width: 50%;
     border: none;
     transition: all 0.5s;
}

.loginForm,
.signUpForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 2vmax;
    justify-content: space-evenly;
    height: 70%;
    transition: all 0.5s;
}


.loginForm > div,
.signUpForm >div {
    display: flex;
    width: 100%;
    align-items: center;
}

.loginForm >div >input,
.signUpForm > div>input{
    padding:1vmax 4vmax;
    padding-right: 1vmax;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0,0,0,0.267);
    border-radius: 4px;
    font: 300 0.9vmax cursive;
    outline: none;
}

.loginForm >div >svg,
.signUpForm>div >svg{
    position: absolute;
    transform: translateX(1vmax);
    font-size:1.6vmax;
    color: rgba(0,0,0,0.623);
}

/* //7:86:10 */